body{
    /* background-color: #333333 !important; */
}

.para{
    font-size: 18px;
    color: white;
}
.head{
    background: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.line{
    /* color: white; */
}
.sec-head{
    color: white;
}
.main{
    background-color: rgb(92, 84, 84);
    border-radius: 10px;
}
#password-length{
    width: 50px;
    height: 6vh;
    margin-top: 10px;
    border: none;
    box-shadow: 2px 2px 4px inset grey,
    -2px -2px 4px inset grey;
    border-radius: 7px;
}
.all{
    width: 30px;
    height: 4vh;
    border-color: blueviolet;
    background-color: #f00d0d !important;
}
.bottom{
    border-bottom: 10px solid green;
    /* color: white; */
}
